In [1]:
import pandas as pd

In [2]:
# Function to load and examine the data

def load_and_examine_data(file_path):
    try:
        # Load the data from the specified file path
        data = pd.read_csv(file_path)

        # Display the shape, columns and the first few rows of the dataset
        print("----------------------------Details about the data----------------------------\n")
        print("----------------------------Shape of the dataset----------------------------\n")
        display(data.shape)
        print()
        print("----------------------------Columns of the dataset----------------------------\n")
        display(data.columns)
        print()
        print("----------------------------Head of the dataset----------------------------\n")
        display(data.head())
        print("----------------------------Tail of the dataset----------------------------\n")
        display(data.tail())
        print()
        # Display information about the dataset

        print("\n----------------------------Data information ----------------------------\n")
        display(data.info())
        print("\n----------------------------Descriptive Statistics of the dataset ----------------------------\n")
        display(data.describe())

        return data

    except FileNotFoundError:
        print(f"File '{file_path}' not found.")
    except Exception as e:
        print(f"An error occurred: {e}")

# Replace with your data file path
file_path = "data.csv" 
data = load_and_examine_data(file_path)

----------------------------Details about the data----------------------------

----------------------------Shape of the dataset----------------------------

(18542, 23)

----------------------------Columns of the dataset----------------------------

Index(['destination_code', 'destination_id', 'destination_name',
       'discharge_port', 'entry_number', 'entry_status', 'excise_duty',
       'export_duty', 'hscode_code', 'hscode_description', 'hscode_id', 'id',
       'import_declaration_fee', 'import_duty', 'import_vat', 'origin_code',
       'origin_id', 'origin_name', 'product_id', 'product_name', 'quantity',
       'railway_development_levy', 'reg_date'],
      dtype='object')

----------------------------Head of the dataset----------------------------

,destination_code,destination_id,destination_name,discharge_port,entry_number,entry_status,excise_duty,export_duty,hscode_code,hscode_description,...,import_duty,import_vat,origin_code,origin_id,origin_name,product_id,product_name,quantity,railway_development_levy,reg_date
0,KE,118,Kenya,DHL,20NBOIM400081542,Settled,0,0,4819.10.00,Cartons,...,5991,4793,AE,8,United Arab Emirates,12,BOX 4-BROWN.BOX 2-BROWN,0.30,480,01/06/2020
1,KE,118,Kenya,DHL,20NBOIMC00126967,Settled,0,0,4811.59.90,PE Comet Paper,...,5991,4793,GB,80,United Kingdom,13,LABORATORY APPARATUS,10.00,480,01/06/2020
2,KE,118,Kenya,MIA,20MBAIMC00016307,Settled,0,0,4819.40.00,Paper and bags,...,5991,4793,GB,80,United Kingdom,14,BAGS,50.00,480,01/06/2020
3,KE,118,Kenya,DHL,20NBOIM400080042,Pending Removal,0,0,4819.10.00,Cartons,...,5991,4793,AE,8,United Arab Emirates,15,SMALL AND LARGE FLYERS,1.00,480,01/06/2020
4,KE,118,Kenya,KAH,20NBOIMC00138682,Pending Removal,0,0,4819.10.00,Cartons,...,5991,4793,AU,15,Australia,16,CARDBOARD BOXES,0.81,480,01/07/2020

----------------------------Tail of the dataset----------------------------

,destination_code,destination_id,destination_name,discharge_port,entry_number,entry_status,excise_duty,export_duty,hscode_code,hscode_description,...,import_duty,import_vat,origin_code,origin_id,origin_name,product_id,product_name,quantity,railway_development_levy,reg_date
18537,KE,118,Kenya,ICD,23EMKIM401237821,Settled,0,0,4804.39.00,Other bleached kraft Paper and paperboard weig...,...,5991,4793,SE,211,Sweden,9447,"BLEACHED KRAFT PAPER 1292MM, BILLERUDGRUVON PM...",10248.0,480,11/20/2023
18538,EG,67,Egypt,MEX,23MBAEX306620565,Settled,0,0,4819.40.00,Paper and bags,...,5991,4793,LK,131,Sri Lanka,3017,PAPER SACKS; 0; 510;,255.4,480,11/16/2023
18539,EG,67,Egypt,MEX,23MBAEX306719305,Settled,0,0,4819.40.00,Paper and bags,...,5991,4793,LK,131,Sri Lanka,5776,CARBON FOOT PRINT PAPER SACKS VALVE TYPE 2PLIE...,263.0,480,11/16/2023
18540,KE,118,Kenya,BSA,23BUSIM400386504,Removed,0,0,4805.11.00,Sem-chemical fluting,...,5991,4793,UG,231,Uganda,9448,SEMI KRAFT LINER(STOCK LOT); 1;,24419.0,480,11/07/2023
18541,KE,118,Kenya,NMA,23NMAIM400630381,Removed,0,0,4804.11.00,Unbleached kraft liner,...,5991,4793,TZ,230,"Tanzania, United Republic of",1723,KRAFT LINER; 0;,28688.0,480,11/27/2023

----------------------------Data information ----------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18542 entries, 0 to 18541
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   destination_code          18542 non-null  object
 1   destination_id            18542 non-null  int64
 2   destination_name          18542 non-null  object
 3   discharge_port            18542 non-null  object
 4   entry_number              18542 non-null  object
 5   entry_status              18542 non-null  object
 6   excise_duty               18542 non-null  int64
 7   export_duty               18542 non-null  int64
 8   hscode_code               18542 non-null  object
 9   hscode_description        18542 non-null  object
 10  hscode_id                 18542 non-null  int64
 11  id                        18542 non-null  int64
 12  import_declaration_fee    18542 non-null  int64
 13  import_duty               18542 non-null  int64
 14  import_vat                18542 non-null  int64
 15  origin_code               18542 non-null  object
 16  origin_id                 18542 non-null  int64
 17  origin_name               18542 non-null  object
 18  product_id                18542 non-null  int64
 19  product_name              18542 non-null  object
 20  quantity                  18542 non-null  float64
 21  railway_development_levy  18542 non-null  int64
 22  reg_date                  18542 non-null  object
dtypes: float64(1), int64(11), object(11)
memory usage: 3.3+ MB

None

----------------------------Descriptive Statistics of the dataset ----------------------------

,destination_id,excise_duty,export_duty,hscode_id,id,import_declaration_fee,import_duty,import_vat,origin_id,product_id,quantity,railway_development_levy
count,18542.000000,18542.0,18542.0,18542.000000,18542.000000,18542.0,18542.0,18542.0,18542.000000,18542.000000,1.854200e+04,18542.0
mean,121.338097,0.0,0.0,9.344623,9271.500000,839.0,5991.0,4793.0,137.451246,3935.833837,3.154749e+05,480.0
std,42.979340,0.0,0.0,5.271732,5352.758681,0.0,0.0,0.0,67.479456,2564.879514,3.048823e+06,0.0
min,2.000000,0.0,0.0,1.000000,1.000000,839.0,5991.0,4793.0,5.000000,10.000000,4.000000e-04,480.0
25%,118.000000,0.0,0.0,5.000000,4636.250000,839.0,5991.0,4793.0,105.000000,1666.000000,2.400000e+02,480.0
50%,118.000000,0.0,0.0,11.000000,9271.500000,839.0,5991.0,4793.0,131.000000,3563.500000,5.016500e+03,480.0
75%,118.000000,0.0,0.0,12.000000,13906.750000,839.0,5991.0,4793.0,211.000000,5817.000000,2.836250e+04,480.0
max,249.000000,0.0,0.0,19.000000,18542.000000,839.0,5991.0,4793.0,248.000000,9448.000000,5.060000e+07,480.0

## Description of columns
1. destination_code: A code representing the destination country or region where the goods are being sent.

2. destination_id: A unique identifier for the destination, possibly used internally to reference specific destinations in the database.

3. destination_name: The name of the destination country or region.

4. discharge_port: The port where the goods will be unloaded or discharged upon reaching the destination.

5. entry_number: A unique number assigned to the shipment or entry for tracking purposes.

6. entry_status: The current status of the shipment or entry, indicating whether it is pending, cleared, in transit, etc.

7. excise_duty: The amount of excise duty levied on the goods, typically a tax imposed on specific goods produced or sold within a country.

8. export_duty: The amount of duty levied on goods being exported out of the country.

9. hscode_code: The Harmonized System (HS) code assigned to the product, which classifies goods for customs purposes.

10. hscode_description: A description of the product based on its HS code, providing details about the type of goods being imported or exported.

11. import_duty: The amount of duty levied on goods being imported into the country.

12. import_vat: The Value Added Tax (VAT) applied to imported goods.

13. origin_code: A code representing the origin country or region from where the goods are being shipped.

14. origin_id: A unique identifier for the origin, possibly used internally to reference specific origins in the database.
15. origin_name: The name of the country or region where the goods were produced or originated.

16. product_id: A unique identifier for the product, used within databases to track and manage specific products.

17. product_name: The name of the product being imported, exported, or otherwise recorded.

18. quantity: The amount or volume of the goods being handled, usually measured in units, kilograms, liters, etc.

19. railway_development_levy: A specific levy or tax imposed on goods to fund railway infrastructure development, typically applied during importation.

20. reg_date: The registration date of the entry, indicating when the goods were recorded or registered in the system.

In [3]:
# Creating a function that returns null, duplicated and placeholder values in the dataset.
def data_prep(df):
    print('-------------------------Missing Values Check---------------------------------------\n')
    print(f'Number of null values in each column in the dataset:\n{df.isnull().sum()}\n')
    print('-------------------------Duplicated Values Check------------------------------------\n')
    print(f'Number of duplicated values in the dataset: {df.duplicated().sum()}\n')
    print('-------------------------Placeholder Values Check-----------------------------------\n')
    for column in df.columns:
        unique_values = df[column].unique()
        placeholders = [value for value in unique_values if str(value).strip().lower() in ['placeholder', 'na', 'n/a', '?']]
        placeholder_count = len(placeholders)
    
        print(f"Column: '{column}'")
        print(f"Placeholders found: {placeholders}")
        print(f"Count of placeholders: {placeholder_count}\n")
        
# Checking in our dataset.
data_prep(data)

-------------------------Missing Values Check---------------------------------------

Number of null values in each column in the dataset:
destination_code            0
destination_id              0
destination_name            0
discharge_port              0
entry_number                0
entry_status                0
excise_duty                 0
export_duty                 0
hscode_code                 0
hscode_description          0
hscode_id                   0
id                          0
import_declaration_fee      0
import_duty                 0
import_vat                  0
origin_code                 0
origin_id                   0
origin_name                 0
product_id                  0
product_name                0
quantity                    0
railway_development_levy    0
reg_date                    0
dtype: int64

-------------------------Duplicated Values Check------------------------------------

Number of duplicated values in the dataset: 0

-------------------------Placeholder Values Check-----------------------------------

Column: 'destination_code'
Placeholders found: []
Count of placeholders: 0

Column: 'destination_id'
Placeholders found: []
Count of placeholders: 0

Column: 'destination_name'
Placeholders found: []
Count of placeholders: 0

Column: 'discharge_port'
Placeholders found: []
Count of placeholders: 0

Column: 'entry_number'
Placeholders found: []
Count of placeholders: 0

Column: 'entry_status'
Placeholders found: []
Count of placeholders: 0

Column: 'excise_duty'
Placeholders found: []
Count of placeholders: 0

Column: 'export_duty'
Placeholders found: []
Count of placeholders: 0

Column: 'hscode_code'
Placeholders found: []
Count of placeholders: 0

Column: 'hscode_description'
Placeholders found: []
Count of placeholders: 0

Column: 'hscode_id'
Placeholders found: []
Count of placeholders: 0

Column: 'id'
Placeholders found: []
Count of placeholders: 0

Column: 'import_declaration_fee'
Placeholders found: []
Count of placeholders: 0

Column: 'import_duty'
Placeholders found: []
Count of placeholders: 0

Column: 'import_vat'
Placeholders found: []
Count of placeholders: 0

Column: 'origin_code'
Placeholders found: []
Count of placeholders: 0

Column: 'origin_id'
Placeholders found: []
Count of placeholders: 0

Column: 'origin_name'
Placeholders found: []
Count of placeholders: 0

Column: 'product_id'
Placeholders found: []
Count of placeholders: 0

Column: 'product_name'
Placeholders found: []
Count of placeholders: 0

Column: 'quantity'
Placeholders found: []
Count of placeholders: 0

Column: 'railway_development_levy'
Placeholders found: []
Count of placeholders: 0

Column: 'reg_date'
Placeholders found: []
Count of placeholders: 0